.recipe-card {
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background: #fbff01;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: 0.2s ease;
      }
  /*     
      .recipe-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      }
      
      .recipe-image {
        width: 100%;
        height: 150px;
        border-radius: 8px;
        object-fit: cover;
      }
      
      .recipe-title {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
      }
      
      .recipe-category {
        font-size: 14px;
        color: #555;
        margin-top: 4px;
      }
      
      .recipe-desc {
        font-size: 13px;
        color: #666;
        margin-top: 6px;
      }
       */